* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.kontajner {
    width: 100%;
    height: 100%;
    background-position: center;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.koniec {
    height: 2%;
    display: flex;
    font-size: 10px;
    color: azure;
}

.navigacny_panel {
    height: 7%;
    display: flex;
    align-items: center;
}

.logo_eshop {
    width: 50px;
    cursor: pointer;
}

.logo_menu {
    width: 50px;
    cursor: pointer;
    margin-left: 40px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a {
    text-decoration: none;
    color: azure;
    font-size: 15px;
}

h1 {
    color: azure;
    font-size: 50px;
    text-align: center;
}

p {
    color:azure;
    font-size: 15px;
    line-height: 15px;
    text-shadow: grey;
    text-align: center;
}

.mriezka {
    display: flex;
    height: 10%;
    width: 10%;
    align-items: center;
    border-radius: 30px;
    padding: 15px 25px;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
    flex-basis: 50%;

}

.mriezka:hover {
    transform: translateY(-5px);
}

.mriezka1 {
    background-image: url(../recources/vypredaj.png);
    min-width: 25%;
    min-height: 35%;
}

.mriezka2 {
    min-width: 25%;
    min-height: 35%;
}

h5 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    color: rgb(255,255, 255);
    font-size: 20px;
    text-shadow: 0px 0px 5px rgb(0,0,0);
}

legend {
    padding: 10px;
    text-decoration: none;
    color: azure;
    font-size: 20px;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
}

label {
    color: azure;
    font-size: 17.4px;
    line-height: 40px;
    word-spacing: 0.001px;
    text-shadow: 0px 0px 5px rgb(0, 0, 0)
}

input[type=”text”] {
    width: 100%;
    padding: 10px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 3px; 
}

input[type=”number”] {
    width: 115%;
    padding: 10px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 3px; 
}

input[type=”text1”] {
    width: 120%;
    padding: 10px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 3px; 
}

.a {
    display: inline-block;
    display: flex;
    justify-content: space-between;
}

input[type=”longtext”] {
    width: 100%;
    height: 223px;
    padding: 10px 15px;
    margin: 8px 0;
    box-sizing: border-box;
   
    border-radius: 3px; 
}

input:focus {
    background-color: rgb(250, 228, 250);
  }

select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 3px;

}

.zoznam {
    transition: transform 0.5s;
}

.zoznam:hover {
    transform: translateY(-5px);
}
button {
    width: 300px;
    color: azure;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    padding: 4px 2px 4px 2px;
    background:azure;
    border: 0;
    border-radius: 40px;
    margin-top: 15px;
    cursor: pointer;
    transition: transform 0.5s;
}

button:hover {
    transform: translateY(-10px);
}

.stlpec button {
    display: inline-block;
    width: 49%;
    justify-content: center;
}

h2 {
    color: azure;
    font-size: 25px;
}

fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove (internal value);
}

.riadok {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.stlpec {
    flex-basis: 50%;
    height: 100%;
}

h3 {
    align-items: center;
    color: azure;
}
.mriezka {
    border-radius: 30px;
    padding: 15px 25px;
    display: block;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

body {
    background-image:  url(../recources/Snímka\ obrazovky\ 2022-03-05\ 120851.png);
    background-position: center;
    background-size: cover;
}

.stranka2 {
    border-radius: 30px;
    padding: 15px 25px;
    display: block;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

a {
    text-decoration: none;
    color: azure;
    font-size: 15px;
}

ul li {
    list-style: none;
}

li a:link {
    color: rgb(0, 0, 0);
}

li a:visited{
    color: rgb(59, 13, 167);
    }

li a:hover {
    color: rgb(168, 13, 199)
}

li a:focus {
    color: rgb(222, 108, 245)
}

li a:active {
    color: rgb(65, 9, 110)
}

video {
    background-color: rgba(0,0,0,0.5);
}

img {
    cursor: pointer;
    transition: transform 0.5s;
}

img:hover {
    transform: translateY(-5px);
}