* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.kontajner {
    width: 100%;
    height: 100%;
    background-image:  url(../recources/Snímka\ obrazovky\ 2022-03-05\ 120851.png);
    background-position: center;
    background-position: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    background-size: cover;
}

.koniec {
    height: 2%;
    display: flex;
    color: azure;
}

.navigacny_panel {
    height: 7%;
    display: flex;
    align-items: center;
}

.logo_eshop {
    width: 50px;
    cursor: pointer;
}

.logo_menu {
    width: 50px;
    cursor: pointer;
    margin-left: 40px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a {
    text-decoration: none;
    color: azure;
    font-size: 15px;
}

.riadok {
    display: flex;
    height: 90%;
    align-items: center;
}

.stlpec {
    flex-basis: 50%;
}

button {
    width: 250px;
    color: rgb(0,0,0);
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    padding: 5px 1px 5px 1px;
    background: azure;
    border: 0;
    border-radius: 20px;
    margin-top: 30px;
    cursor: pointer;
    transition: transform 0.5s;
}

button:hover {
    transform: translateY(-5px);
}

h1 {
    color: azure;
    font-size: 50px;
    text-align: center;
    line-height: 150px;
}

p {
    color:azure;
    font-size: 25px;
    text-shadow: grey;
}

p1 {
    color: azure;
    font-size: 15px;
    text-shadow: grey;
}

h2 {
    color: azure;
    font-size: 25px;
}

ul li {
    color: azure;
    list-style: none;
    display: flexbox;
    margin-left: 40px;
}

.staracena {
    color: azure;
    font-size: 15px;
    margin-top: 10px;
    font-weight: bolder;
    text-decoration: line-through;
    text-shadow: 2px 2px 3px rgb(136, 15, 136)
}

.novacena {
    color: rgb(206, 7, 7);
    font-size: 30px;
    margin-top: 10px;
    font-weight: bolder;
    text-shadow: 2px 2px 3px rgb(136, 15, 136)
}

.koniec {
    height: 2%;
    display: flex;
    font-size: 10px;
}

li a:link {
    color: rgb(0, 0, 0);
}

li a:visited{
    color: rgb(59, 13, 167);
    }

li a:hover {
    color: rgb(168, 13, 199)
}

li a:focus {
    color: rgb(222, 108, 245)
}

li a:active {
    color: rgb(65, 9, 110)
}

.zoznam {
    transition: transform 0.5s;
}

.zoznam:hover {
    transform: translateY(-5px);
}

.skalovatelne {
    resize: both;
    overflow: auto;
}